.fs-7
  font-size: .8rem
.fs-8
  font-size: .7rem
.rounded-4
  border-radius: .35rem

.product.card
  .logo
    font-size: .6rem
  .name
    font-size: .9rem
    height: 2.8rem
    overflow: hidden
  .category_full
    font-size: .7rem
    height: 2rem
    overflow: hidden
  .delivery
    height: 1.5rem
  .stock
    font-size: .66rem

.reviews_statistics
  margin-bottom: 2rem
  .bar
    display: flex
    grid-gap: 1px
    width: 100%
    max-width: 350px
    height: 20px

  .reviews-col
    align-items: center
    color: white
    background-color: hsl(var(--hue) 100% 40%)
    border: 1px solid hsl(var(--hue) 70% 35%)

  .stars
    &5
      --hue: 100
    &4
      --hue: 70
    &3
      --hue: 50
    &2
      --hue: 20
    &1
      --hue: 0
